<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>List of Contacts</title>
    </head>
    <body>
        <h1>List of Contacts</h1>
        <div>
            <ul data-th-each="contact : ${contactList}">
                <h2 data-th-if="${contactList.size == 0}">
                    There is no saved contacts.
                </h2>
                <li data-th-object="${contact}">
                    <a data-th-href="'/addressbook/' + *{id}"
                        ><span data-th-text="*{name}"></span
                    ></a>
                </li>
            </ul>
        </div>
    </body>
</html>
